<?php if ($this->_getHelper()->isModuleActive()) : ?>
<?php $id = $this->getRecaptchaId(); ?>
<div class="recaptcha" style="overflow:hidden;position:relative;">
    <div id="<?php echo $id ?>"></div>
    <script type="text/javascript">
        var noConflict = jQuery.noConflict();
        var recaptcha = (function ( $ ) {
            var validatedRoutes = <?php echo json_encode($this->_getHelper()->getEnabledRoutes()) ?>;
            var lastFormId = null;
            var validateForm = function (formId) {
                if (lastFormId === formId ) grecaptcha.reset(); 
                lastFormId = formId;
		var validatedFormAction = false;
                var url = $('#'+formId).attr('action');
		validatedRoutes.each(function (validatedRoute) {
		    if(url.replace(/\//g, '_').indexOf(validatedRoute) !== -1){
		        validatedFormAction = true;
		        return true;
		    }
		});
		if(validatedFormAction) return true;
		return false;
            }
            var onloadCallback = function () {
                grecaptcha.render(
                    "<?php echo $id ?>",
                    {
                    'sitekey': "<?php echo $this->getSiteKey() ?>",
                    'size': "invisible",
                    'callback': function (response) {
                        if ( response.length > 0 ) {
                            var $test = $('#g-recaptcha-response').appendTo('#'+lastFormId); // For validation through only javascript, post with ajax to Google Api
                            $('#'+lastFormId).submit();
                        }
                    }
                });
            };
            return {
                onloadCallback: function() { onloadCallback(); },
                validateForm: function (id) { return validateForm(id)}
            };
        })(noConflict);
        var onloadCallback = recaptcha.onloadCallback;
    </script>
    <?php echo $this->getRecaptchaScript(); ?>
</div>
<script type="text/javascript">
Validation.prototype.validate = Validation.prototype.validate.wrap(function(parentFunction){
    var result = parentFunction();
    if (result ) {
        if(recaptcha.validateForm(this.form.id)) {
            grecaptcha.execute();
        } else {
            return true;
        }
    } else {
        return false;
    }
});
</script>
<?php endif; ?>
